.hero {
    width: 100%;
    height: 80vh;
    display: flex;
}

.left {
    width: 50%;
}

.left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.right {
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0;
}

.right h1 {
    margin-left: 10%;
    width: 27%;
    font-weight: normal;
    text-align: left; 
    text-transform: uppercase;
}

.marquee {
    width: 100%;
    background-color: #000;
    color: white;
    overflow: hidden;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-family: sans-serif;
    position: relative;
}

.marquee-content {
    display: flex;
    gap: 5rem; 
    animation: scroll-left 40s linear infinite;
    white-space: nowrap;
    will-change: transform;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
